@model  HOL3_Project.Models.User
@using (Html.BeginForm("SaveUser", "Home"))




{
    <p>
        User Name: <input type="text" name="@Html.TextBoxFor(User => User.UserName)" />
    </p>



    <p>
        Password: <input type="password" name="@Html.TextBoxFor(User => User.Password)" />
    </p>



    <input type="submit" value="Add User" />
}
